<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary"> {{ 'SETTINGS.SETTINGS' | translate }}</ion-title>
    <ion-button  slot="end" color="light" (click)='Logout()'> {{ 'SETTINGS.LEAVE' | translate}}
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h5>{{ 'SETTINGS.LANGUAGE' | translate }}</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="settings" slot="start" color="primary"></ion-icon>
      <ion-label color="primary">{{ 'SETTINGS.LANGUAGE' | translate }}</ion-label>
      <ion-select [(ngModel)]="lang" (ionChange)="changeLanguage(lang)">
        <ion-select-option value="en">{{ 'SETTINGS.ENGLISH' | translate }}</ion-select-option>
        <ion-select-option value="es">{{ 'SETTINGS.SPANISH' | translate }}</ion-select-option>
        <ion-select-option value="fr">{{ 'SETTINGS.FRENCH' | translate }}</ion-select-option>
        <ion-select-option value="pt">{{ 'SETTINGS.PORTUGUESE' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>