:host {
  ion-content {
    --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
  }
}

.profile {
  ion-card {
    width: 100%;
    border-radius: 0;
    background-color: #fff;
    ion-card-content {
      padding: 32px;
      background-color: var(--ion-color-primary);
      color: #fff;
      text-align: center;

      img {
        height: 128px;
        width: 128px;
        border-radius: 50%;
        border: solid 4px #fff;
        display: inline;
        box-shadow: 0 0 28px rgba(255,255,255, .65);
      }

      h1 {
        margin-top: .5rem;
      }
    }
  }

  ion-buttom {
    button {
      margin: 0;
    }
  }
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 190%;
  height:3vh;
  margin-bottom:0px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:3vh;
  text-align:center;
  background-color: white;
  padding-bottom: 0 !important;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 22s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:10px;
  }
  .content {
    height:50vh;
  }
  h1 {
    font-size:24px;
  }
}  